<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json" />
    <script>
      loggedInUser = "<%= user_name %>";
      plantId = "<%= data._id %>";
      plantOwner = "<%= data.user %>";
    </script>
  </head>
  <div class="flex flex-col h-screen w-full lg:flex-row ">
    <div class="lg:w-1/2 h-full mx-5">
      <%- include('./details_component.ejs',{data:data}) %>
    </div>
    <div class="lg:w-1/2 h-full mx-5 ">
      <%- include('./chat.ejs', { data: data , userName: user_name }) %>
    </div>
  </div>
  <%- include('../components/online_offline_mode.ejs',) %>
</html>
