<div class="card w-full glass h-full ">
  <div class=" stats shadow">
    <figure>
      <img
              src="/images/uploads/<%= data.photo %>"
              class="p-4"
              onerror="this.onerror=null;this.src='/images/placeholder.gif';"
      />
    </figure>
  </div>

  <div class="card-body p-0 m-0" flex flex-row flex-nowrap>

      <h2 class="card-title text-2xl"><%= data.plantName%></h2>
      <div class="card overscroll-none">
        <div class="overscroll-none flex flex-row flex-nowrap">
          <div class="mr-2">Created by:</div>
          <%= data.user %>
        </div>
      </div>

    <div class="card overscroll-none flex flex-row flex-nowrap">
        <div class="mr-2">dbpedia:</div>
        <a class="link" href=<%= resource %>><%=resource %></a>
    </div>


    <div class="flex flex-row">
      <div class="mr-2">Sun Exposure:</div>
      <div class="tooltip tooltip-right" data-tip=<%=data.sunExposure%>>
        <img
                class="h-6 w-6 object-contain tooltip"
                src="<% if (data.sunExposure === 'full') { %>
                 /images/fullsun.png
             <% } else if (data.sunExposure === 'partial') { %>
                  /images/halfsun.png
             <% } else { %>
                /images/shade.png
             <% } %>"
                alt="Conditional Image"
        />
      </div>
    </div>

    <div class="card overscroll-none">
      <div class=" overscroll-none">
        <p class="mr-2">color: <%=data.flowerColor%> </p>
      </div>
    </div>

    <div class="card overscroll-none flex flex-row flex-nowrap">
        <div class="mr-2">description:</div>
        <%=data.description %>
    </div>
    <div class=" bg-base-100 rounded-lg card flex flex-row place-content-between  shadow p-3 ">

      <div class="border-r-2 w-full h-full flex flex-row items-center place-content-center">
          <div><strong >location :</strong></div>
          <div class="flex flex-row flex-nowrap px-2">
            <a class="link px-2" href=<%=link %>>map</a>
            <img
                    class="h-6 w-6 object-contain"
                    src="<% if (data.location === '') { %>
                 /images/nolocation.png
             <% } else { %>
                /images/location.png
             <% } %>"
                    alt="Conditional Image"
            />
          </div>
      </div>

      <div class="border-r-2 w-full h-full">
        <p class="text-center"><strong>height:</strong> <%=data.height%> </p>
      </div>

      <div class=" w-full h-full">
        <p class="text-center"><strong>spread:</strong> <%=data.spread%> </p>
      </div>
    </div>


    <div class=" bg-base-100 collapse collapse-arrow shadow">
      <input type="checkbox" />

      <div class="collapse-title text-xl font-medium">
        Description from DBPedia
      </div>
      <div class="collapse-content  tool ">
        <% if (dbpediaResult.results.bindings[0] && dbpediaResult.results.bindings[0].description && dbpediaResult.results.bindings[0].description.value) { %>
          <%= JSON.stringify(dbpediaResult.results.bindings[0].description.value) %>
        <% }else{ %>
            <div class="flex flex-col items-center h-full">
              <div class="text-4xl">🤷‍♂️</div>
            <div class="text-gray-400"> No Content Available</div>
            </div>
        <% } %>
      </div>
    </div>

    <div class="card-actions justify-end">
      <div class="badge p-2 badge-primary"><%=data.characteristics%></div>
    </div>
  </div>
</div>