<div class="card w-full glass h-full ">
  <div class="lg:h-2/5 stats shadow">
    <figure>
      <img
              src="/images/uploads/<%= data.photo %>"
              class="p-4"
      />
    </figure>
  </div>

  <div class="card-body lg:h-3/5">

      <h2 class="card-title text-2xl"><%= data.plantName%><p><strong>Created by:</strong> <%= data.user %></p></h2>


    <div class="card flex flex-row place-content-between  shadow ">

      <div class="border-r-2 w-full h-full flex flex-row flex-nowrap">
          <div><strong>location:</strong></div>
          <div class="flex flex-row flex-nowrap">
            <a class="link" href=<%=link %>>map</a>
            <img
                    class="h-6 w-6 object-contain"
                    src="<% if (data.location === '') { %>
                 /images/nolocation.png
             <% } else { %>
                /images/location.png
             <% } %>"
                    alt="Conditional Image"
            />
          </div>
      </div>

      <div class="border-r-2 w-full h-full">
        <p class="text-center"><strong>height:</strong> <%=data.height%> </p>
      </div>

      <div class=" w-full h-full">
        <p class="text-center"><strong>spread:</strong> <%=data.spread%> </p>
      </div>
    </div>

    <div class="flex flex-row">
      <div><strong>Sun Exposure:</strong></div>
      <div class="tooltip tooltip-right" data-tip=<%=data.sunExposure%>>
        <img
                class="h-6 w-6 object-contain tooltip"
                src="<% if (data.sunExposure === 'full') { %>
                 /images/fullsun.png
             <% } else if (data.sunExposure === 'partial') { %>
                  /images/halfsun.png
             <% } else { %>
                /images/shade.png
             <% } %>"
                alt="Conditional Image"
        />
      </div>
    </div>

    <div class="card overscroll-none">
      <div class="card-title overscroll-none">
        <p>color: <%=data.flowerColor%> </p>
      </div>
    </div>

    <div class="card overscroll-none">
      <div class="card-title overscroll-none">
        <div>description:</div>
        <%=data.description %>
      </div>
    </div>

    <div class="card overscroll-none">
      <div class="card-title overscroll-none">
        <div>dbpedia:</div>
        <a class="link" href=<%= resource %>><%=resource %></a>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200">
      <input type="checkbox" />

      <div class="collapse-title text-xl font-medium">
        description from dbpedia
      </div>
      <div class="collapse-content h-full overflow-scroll">
        <% if (dbpediaResult.results.bindings[0] && dbpediaResult.results.bindings[0].description && dbpediaResult.results.bindings[0].description.value) { %>
          <%= JSON.stringify(dbpediaResult.results.bindings[0].description.value) %>
        <% } %>

      </div>
    </div>

    <div class="card-actions justify-end">
      <div class="badge p-2 badge-primary"><%=data.characteristics%></div>
    </div>
  </div>
</div>