<div class="card w-full glass h-full ">
  <div class="lg:h-2/5 stats shadow">
    <figure>
      <img
              src="/images/uploads/<%= data.photo %>"
              class="p-4"
      />
    </figure>
  </div>

  <div class="card-body lg:h-3/5">

      <h2 class="card-title text-2xl"><%= data.plantName%><p><strong>Created by:</strong> <%= data.user %></p></h2>


    <div class="card flex flex-row place-content-between  shadow ">

      <div class="border-r-2 w-full h-full place-content-center text-center">
        <p class="text-center"><strong>location:</strong> <%=data.location%> </p>
      </div>

      <div class="border-r-2 w-full h-full">
        <p class="text-center"><strong>height:</strong> <%=data.height%> </p>
      </div>

      <div class=" w-full h-full">
        <p class="text-center"><strong>spread:</strong> <%=data.spread%> </p>
      </div>
    </div>

    <div class="flex flex-row">
      <div class="font-bold">Sun Exposure:</div>
      <div class="tooltip tooltip-right" data-tip="full sun">
        <img
                class="h-6 w-6 object-contain tooltip"
                src="<% if ('sunExposure' === 'sunExposure') { %>
                 /images/fullsun.png
             <% } else if ('value' === 'partialExposure') { %>
                  /images/halfsun.png
             <% } else { %>
                /images/shade.png
             <% } %>"
                alt="Conditional Image"
        />
      </div>
    </div>

    <div class="flex flex-row">
      <p><strong>color:</strong> <%=data.flowerColor%> </p>
    </div>

    <div class="flex flex-row">
      <p><strong>characteristics:</strong> <%=data.characteristics%> </p>
    </div>

    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">description</div>
        <%=data.description %>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200">
      <input type="checkbox" />

      <div class="collapse-title text-xl font-medium">
        description from dpmedia
      </div>
      <div class="collapse-content h-full overflow-scroll">
        <% if (dbpediaResult.results.bindings[0] && dbpediaResult.results.bindings[0].description && dbpediaResult.results.bindings[0].description.value) { %>
          <%= JSON.stringify(dbpediaResult.results.bindings[0].description.value) %>
        <% } %>
      </div>
    </div>

    <div class="card-actions justify-end">
      <div class="badge p-2 badge-primary">Flower</div>
    </div>
  </div>
</div>