<div class="card w-full glass h-full">
  <div class="lg:h-2/5 stats shadow">
    <figure>
      <img
              src="https://img2.baidu.com/it/u=3227619927,365499885&fm=253&fmt=auto&app=120&f=JPEG?w=938&h=500"
              alt="car!"
      />
    </figure>
  </div>

  <div class="card-body lg:h-3/5">
    <h2 class="card-title text-2xl">Angel trumpet</h2>
    <%- include("./key_value",{data:"Created by",value:"Manu"}) %>
    <div class="stats stats-vertical lg:stats-horizontal shadow text-2xl">

      <div class="stat">
        <%- include("./key_value",{data:"Location",value:"40.753°N, 73.983°W."}) %>
      </div>

      <div class="stat">
        <%- include("./key_value",{data:"Height",value:"50 feet"}) %>
      </div>

      <div class="stat">
        <%- include("./key_value",{data:"Spread",value:"100 feet"}) %>
      </div>
    </div>

    <div class="flex flex-row text-2xl">
      <div class="font-bold">Sun Exposure:</div>
      <div class="tooltip tooltip-right" data-tip="full sun">
        <img
                class="h-6 w-6 object-contain tooltip"
                src="<% if ('sunExposure' === 'sunExposure') { %>
                 /images/fullsun.png
             <% } else if ('value' === 'partialExposure') { %>
                  /images/halfsun.png
             <% } else { %>
                /images/shade.png
             <% } %>"
                alt="Conditional Image"
        />
      </div>
    </div>

    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">description from dpmedia</div>
        <%= JSON.stringify(dbpediaResult.results.bindings[0].description.value) %>
      </div>
    </div>

    <div class="card-actions justify-end">
      <div class="badge p-2 badge-primary">Flower</div>
    </div>
  </div>
</div>
